
.outerBox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.prev,
.next {
  opacity: 0;
  transition: opacity 800ms;
}

.outerBox:hover .prev,
.outerBox:hover .next {
  opacity: 1;
}

.example-container div {
  background: white;
  border-radius: 30px;
  width: 150px;
  height: 150px;
}